// Atoms to be used in CSS Zen Garden

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
@mixin headers {
    color: $header-font-color;
    font-family: $header-font;
}

@mixin bodies {
    color: $body-font-color;
    font-family: $body-font;
    font-size: $p-size;
}

body {
    background-color: $background-color;
    color: $color-black;
    font-family: $body-font;
}

p {
    letter-spacing: .2rem;
}

h1 {
    color: $color-white;
    font-size: $large-title;
    letter-spacing: 2rem;
    font-family: $header-font;
}

h2 {
    color: $color-white;
    font-size: 2rem;
    letter-spacing: 2.03rem;
    font-family: $header-font;
    & abbr{
    --b: 0.1em;   /* the thickness of the line */

    text-decoration: none;
    padding-block: var(--b);
    background: 
    linear-gradient($color-yellow 50%,$color-black 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient($color-yellow 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
    
    &:hover {
        --_p:100%;
        --_s: .3s;
        color: $color-yellow;
    }
}
}

a {
    text-decoration: none;
    color: yellow;
}

.extra2 {
    content: "X";
    width: 30%;
    background-image: url(../images/shuttle.png);
    height: 95%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 103%;
    left: 35%;
    background-position: center center;
    z-index: 10;
    @include responsive(tab-land) {
        top: 95%;
    }
    @include responsive(tab-port) {
        top: 105%;
        height: 50%;
    }
    @include responsive(phone) {
        top: 110%;
        height: 25%;
    }
}

.extra3 {
    background-image: radial-gradient(
        ellipse at center,
        rgba($color-pink, .3) 0%,
        rgba($color-red-dark, .3) 70%,
        rgba(0, 128, 172, 0) 70.3%
      ),url(..//images/blue-planet.png);
    background-size: contain;
    position: fixed;
    width: 30rem;
    height: 30rem;
    top: 15%;
    left: 10%;
    z-index: 2;
    @include responsive(tab-port) {
        top: 2%;
    }
    @include responsive(phone) {
        top: -3%;
        transform: scale(.75);
    }
}