// Atoms to be used in CSS Zen Garden

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
@mixin headers {
    color: $header-font-color;
    font-family: $header-font;
}

@mixin bodies {
    color: $body-font-color;
    font-family: $body-font;
    font-size: $p-size;
}

body {
    background-color: $background-color;
    color: $color-black;
}

h1 {
    color: $color-white;
    font-size: $large-title;
    letter-spacing: 2rem;
}

h2 {
    color: $color-white;
    font-size: 2rem;
    letter-spacing: 2.03rem;
    & abbr{
    --b: 0.1em;   /* the thickness of the line */

    text-decoration: none;
    padding-block: var(--b);
    background: 
    linear-gradient($color-blue 50%,$color-black 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient($color-blue 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
    
    &:hover {
        --_p:100%;
        --_s: .3s;
        color: $color-blue;
    }
}
}

a {
    text-decoration: none;
    color: yellow;
}