// Molecules
// color set

header {
    height: 40vh;
    grid-column: 1/2;
    grid-row: 1/2;
    text-transform: uppercase;
    padding-top: 30rem;
    z-index: 5;
}

@keyframes orbit {
    0% { transform: translate(190%,0%); }
    5% { transform: translate(235%,3%); }
    10% { z-index: 10; 
        transform: translate(259%,9%); }
    15% { transform: translate(271%,21%); }
    20% { transform: translate(277%,45%); }
    25% { transform: translate(280%,90%); }
    30% { transform: translate(277%,135%); }
    35% { transform: translate(271%,159%); }
    40% { transform: translate(259%,171%); }
    45% { transform: translate(235%,177%); }
    50% { transform: translate(190%,180%); }
    55% { transform: translate(145%,177%); }
    60% { transform: translate(121%,171%); }
    65% { transform: translate(109%,159%); }
    70% { transform: translate(103%,135%); }
    75% { z-index: 0; 
          transform: translate(100%,90%); }
    80% { transform: translate(103%,45%); }
    85% { transform: translate(109%,21%); }
    90% { transform: translate(121%,9%); }
    95% { transform: translate(145%,3%); }
    100% { transform: translate(190%,0%); }
   }

.summary {
   grid-column: 1/2;
   grid-row: 1/2;
   width: 150px;//clamp(50px, 20%, 180px);
   height: 150px;//clamp(30px, 20%, 90px);
   background-image: url("images/moonforsummary.jpg");
   background-position: center center;
   position: absolute;
   //border: 2px solid lime;
   border-radius: 50%;
   padding: 5% 5%;
   color: gold;
   font-size: 1.6rem;
   //margin-top: -6rem;
   //margin-bottom: 12rem;
   animation-name: orbit;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.summary:hover {
   animation-play-state: paused;
   border: 2px solid lime;
   color: lime;    
}

.requirements {
    grid-column: 1/5;
}

.preamble {
    text-align: left;
    padding: 0 20% 0 20%;
    @include paragraph-heading-format;
    margin-top: -2rem;
    & h3 {
        font-size: $large-title;
        text-align: center;
        padding-bottom: 1rem;
        text-transform: uppercase;
        color: $color-blue-dark;
    }

    & p {
        padding-bottom: .7rem;
        font-size: $paragraph-large;
        color: $color-white;
    }
}

.explanation,
.participation,
.benefits,
.requirements {
    z-index: 10;
    border: 2px solid $color-gray;
    border-radius: 10px;
    background-color: rgba($color-white, .2);
    p {
        padding: 20px;
    }
    & h3 {
        background-color: rgba($color-gray, .5);
        padding: .4rem;
    }
    & p:not(:last-child) {
        margin-bottom: .7rem;
    }
}