
 
 .main {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 1.6rem;
     row-gap: 1.6rem;
     border-radius: .5rem;
     background-image: linear-gradient(to right bottom, rgba($color-pink,0.6), rgba($color-red-dark, 0.5)), url(./images/bg-planet-2.jpg);
     background-size: 100%;
     background-attachment: fixed;
     padding: 27rem 15% 0 15%;
     position: relative;
     z-index: 4;

     @include responsive (tab-land) {
        background-size: cover;
        background-position: bottom;
        position: relative;
        grid-template-columns: 1fr 1fr;
        padding-top: 31rem;
     }
     @include responsive (tab-port) {
      grid-template-columns: 1fr;
      column-gap: 0;
      padding-top: 33rem;
   }
   @include responsive (tab-port) {
      padding-top: 45rem;
   }
   @include responsive (phone) {
        padding-top: 66rem;
   }
     }

     .summary {
      font-weight: bold;
     }