.page-wrapper {
   display: grid;
   grid-template-columns: 1fr;
}

.intro {
   grid-column: 1/2;
   grid-row: 1 / 2;
   text-align: center;
   background-image: linear-gradient(to right bottom, rgba($color-blue,0.7), rgba($color-purple, 0.7)),
   url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg);
   background-size: cover;
   background-position: top;
   position: relative;
   //-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 83% 100%, 74% 92%, 27% 92%, 18% 100%, 0 100%);
   //clip-path: polygon(0 0, 100% 0, 100% 100%, 83% 100%, 74% 92%, 26% 92%, 17% 100%, 0 100%);
   background-attachment: fixed;
   display: grid;
   grid-template-columns: auto;
}

.main {
    grid-column: 1fr;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
    row-gap: 1.6rem;
    border-radius: .5rem;
    background-image: linear-gradient(to right bottom, rgba($color-pink,0.8), rgba($color-red-dark, 0.8)), url(https://wallpaperaccess.com/full/567901.jpg);
    padding: 22rem 15% 5rem 15%;
    margin: -20rem 5% 7% 5%;
    & h3 {
        font-size: $medium-title;
        color: $color-black;
    }

    & p {
        font-size: 1.6rem;
        color: $color-black;
    }
}



    .wrapper {
        background-color: $color-gray;
        -webkit-clip-path: polygon(35% 0, 65% 0, 75% 13%, 100% 13%, 100% 100%, 0 100%, 0 13%, 25% 13%);
        clip-path: polygon(26% 0, 74% 0, 80% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 20% 20%);
        padding: 0 30% 5rem 30%;
        display: grid;
        grid-template-columns: 65% 35%;
    }

    footer {
        grid-column: span 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between 
    }

    .design-selection {
        grid-row: span 2;    
    }

    .sidebar h3 {
        color: lime;
        padding: 5px 0;
    }
    
    