
 
 .main {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 1.6rem;
     row-gap: 1.6rem;
     border-radius: .5rem;
     background-image: linear-gradient(to right bottom, rgba($color-pink,0.6), rgba($color-red-dark, 0.5)), url(../images/bg-planet-2.jpg);
     background-size: 100%;
     background-attachment: fixed;
     padding: 27rem 15% 0 15%;
     position: relative;
     z-index: 4;

     @include responsive (tab-land) {
        background-size: cover;
        background-position: bottom;
        position: relative;
        grid-template-columns: 1fr 1fr;
        padding-top: 31rem;
     }
     @include responsive (tab-port) {
      grid-template-columns: 1fr;
      column-gap: 0;
      padding-top: 33rem;
   }
   @include responsive (tab-port) {
      padding-top: 45rem;
   }
   @include responsive (phone) {
        padding-top: 50rem;
   }
     }

     .wrapper {
         background-image: radial-gradient(
            ellipse at center,
            rgba($color-black, .2) 0%,
            rgba($color-black, .3) 70%,
            rgba(0, 128, 172, 0) 70.3%
          ), url(../images/desert-planet.png);
         background-size: contain;
         background-position: center center;
         background-repeat: no-repeat;
         width: 45rem;
         height: 45rem;
        position: fixed;
        z-index: 3;
        top: 40%;
        left: 70%;
        list-style-type: none;
            text-align: left;
            padding: 13rem 0 0 13rem;
            & .zen-resources {
                position: fixed;
                top: 25%;
                left: 14%;
                & h3 {
                  color: yellow;
                }
                @include responsive(tab-land) {
                  top: 22%;
                  left: 15%;
               }
               @include responsive(tab-port) {
                  top: 15%;
                  left: 15%;
               }
               @include responsive(phone) {
                  top: 10%;
                  left: 30%;
              }
            }
         & h3 {
            font-size: 2.5rem;
         }
         & ul {
            list-style: none;
            color: $color-white;
            font-size: 1.6rem;
         }
         & a {
            color: white;
            &:hover {
               color: $color-blue;
            }
         }
         @include responsive(tab-land) {
            left: 55%;
        }
        @include responsive(tab-port) {
            top: 50%;
            left: 30%;
        }
        &:not(:last-child){
        @include responsive(phone) {
            top: 30%;
            left: -15%;
            transition: all 1s;
        &:not(:hover) {
            transform: scale(.25);
        }
        &:hover {
            transform: scale(1.1);
        }
        }
      }
     }

     .summary {
      font-weight: bold;
     }