// Variables for CSS Zen Garden
// Fonts
$header-font: Georgia, serif;
$body-font: Verdana, Arial, sans-serif;

// Font Size
$h1-size: 36px;
$h2-size: 18px;
$h3-size: 15px;
$h4-size: 15px;
$p-size: 15px;

// Colors
$background-color: #000000;
$body-font-color: #fff71a;
$header-font-color: yellow;
$highlight-color: #7d1aff;
$accent-color: #ff1a9c;
$accent-color2: #ffffff;
/*
$dark-color: black;
$mid-color: lighten($dark-color, 20);
$light-color: lighten($mid-color, 20);
$accent-color2: saturate($mid-color, 20);
$highlight-color: lighten(saturate($mid-color, 20), 20);
*/





