@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Orbitron&display=swap');

// Variables for CSS Zen Garden
// Fonts
$header-font: 'Kdam Thmor Pro', sans-serif;
$body-font: 'Orbitron', sans-serif;

// Font Size
$large-title: 6rem;
$medium-title: 3.5rem;
$small-title: 2rem;
$paragraph-large: 1.8rem;
$paragraph-regular: 1.6rem;

// Grid


// Colors
$background-color: #000000;
$body-font-color: #fff71a;
$header-font-color: yellow;
$highlight-color: #7d1aff;
$accent-color: #ff1a9c;
$accent-color2: #ffffff;

$color-blue: #125da9;
$color-blue-dark: #154388;
$color-purple: #4d1c71;
$color-pink: #b482ac;
$color-gray: #303038;
$color-red: #B70201;
$color-red-dark: #a50001;
$color-yellow: #d7b22f;
$color-white: #f3f1f4;
$color-black: #000000;
$color-link: #B70201;
/*
$dark-color: black;
$mid-color: lighten($dark-color, 20);
$light-color: lighten($mid-color, 20);
$accent-color2: saturate($mid-color, 20);
$highlight-color: lighten(saturate($mid-color, 20), 20);
*/