@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Orbitron&display=swap");
/*
$dark-color: black;
$mid-color: lighten($dark-color, 20);
$light-color: lighten($mid-color, 20);
$accent-color2: saturate($mid-color, 20);
$highlight-color: lighten(saturate($mid-color, 20), 20);
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000000;
  color: #000000;
}

h1 {
  color: #f3f1f4;
  font-size: 6rem;
  letter-spacing: 2rem;
}

h2 {
  color: #f3f1f4;
  font-size: 2rem;
  letter-spacing: 2.03rem;
}
h2 abbr {
  --b: 0.1em;
  /* the thickness of the line */
  text-decoration: none;
  padding-block: var(--b);
  background: linear-gradient(#d7b22f 50%, #000000 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(#d7b22f 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}
h2 abbr:hover {
  --_p:100%;
  --_s: .3s;
  color: #d7b22f;
}

a {
  text-decoration: none;
  color: yellow;
}

.extra2 {
  content: "X";
  width: 30%;
  background-image: url(../images/shuttle.png);
  height: 95%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 103%;
  left: 35%;
  background-position: center center;
  z-index: 10;
}

.extra3 {
  background-image: url(..//images/blue-planet.png);
  background-size: contain;
  position: fixed;
  width: 30rem;
  height: 30rem;
  top: 15%;
  left: 10%;
  z-index: 2;
}

.extra4 {
  background-image: url(..//images/brown-moon.png);
  background-size: contain;
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: 5%;
  left: 85%;
  z-index: 10;
}

header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(18, 93, 169, 0.7), rgba(77, 28, 113, 0.7)), url(../images/bg-space-1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 84%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 84%, 0 100%);
  background-attachment: fixed;
  text-transform: uppercase;
  padding-top: 30rem;
  text-align: center;
  z-index: 4;
}
header h1 {
  animation: growbig 2s ease-in;
}
header h2 {
  animation: growsmall 2s ease-in;
}

.summary {
  font-size: 1.6rem;
  background-image: url(../images/bg-space-plain.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  margin-top: -20rem;
  z-index: 1;
}
.summary p:not(:last-child) {
  background-image: url(../images/brown-moon.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  padding: 10rem 5rem 10rem 5rem;
  top: 10%;
  left: 68%;
  width: 25rem;
  height: 25rem;
  text-align: center;
  transition: all 0.3s;
}
.summary p:not(:last-child):not(:hover) {
  transform: scale(0.25);
}
.summary p:not(:last-child):hover {
  transform: scale(1.1);
}
.summary p:last-child {
  color: #f3f1f4;
  position: absolute;
  top: 87%;
  left: 43%;
}

.requirements {
  grid-column: 1/span 3;
}

.preamble,
.explanation,
.participation,
.benefits,
.requirements,
footer {
  border-radius: 0.8rem;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.15);
  padding: 1rem;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.preamble h3,
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3,
footer h3 {
  padding: 0.4rem;
  font-size: 3rem;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(77, 28, 113, 0.85), rgba(18, 93, 169, 0.85));
}
.preamble p,
.explanation p,
.participation p,
.benefits p,
.requirements p,
footer p {
  font-size: 1.6rem;
  color: #000000;
  text-align: justify;
}
.preamble p:not(:last-child),
.explanation p:not(:last-child),
.participation p:not(:last-child),
.benefits p:not(:last-child),
.requirements p:not(:last-child),
footer p:not(:last-child) {
  margin-bottom: 0.7rem;
}

.preamble {
  margin: 0 15% 0 15%;
  position: absolute;
  border-radius: 0 0 0.8rem 0.8rem;
  z-index: 5;
}

footer {
  grid-column: 1/span 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  text-align: center;
  border-radius: 0.8rem 0.8rem 0 0;
  margin-top: 5rem;
}
footer a {
  font-size: 2.2rem;
  font-weight: 700;
  color: #f3f1f4;
}
footer a:hover {
  text-decoration: underline;
}

@keyframes growbig {
  0% {
    font-size: 10%;
  }
  10% {
    font-size: 100%;
  }
}
@keyframes growsmall {
  0% {
    opacity: 0.01;
  }
}
.design-selection {
  margin: 0 auto;
}

.extra1 {
  position: absolute;
  left: 50%;
  top: 150%;
  height: 2px;
  background: linear-gradient(-45deg, rgb(95, 145, 255), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(105, 155, 255));
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.extra1::before {
  content: "";
  position: absolute;
  top: calc(150% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.extra1::after {
  content: "";
  position: absolute;
  top: calc(150% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateY(50%) rotateZ(-45deg);
}
.extra1:nth-child(1) {
  top: calc(50% - -156px);
  left: calc(50% - 201px);
  animation-delay: 9113ms;
}
.extra1:nth-child(1)::before, .extra1:nth-child(1)::after {
  animation-delay: 9113ms;
}
.extra1:nth-child(2) {
  top: calc(50% - 155px);
  left: calc(50% - 298px);
  animation-delay: 6873ms;
}
.extra1:nth-child(2)::before, .extra1:nth-child(2)::after {
  animation-delay: 6873ms;
}
.extra1:nth-child(3) {
  top: calc(50% - 160px);
  left: calc(50% - 142px);
  animation-delay: 7112ms;
}
.extra1:nth-child(3)::before, .extra1:nth-child(3)::after {
  animation-delay: 7112ms;
}
.extra1:nth-child(4) {
  top: calc(50% - 40px);
  left: calc(50% - 220px);
  animation-delay: 203ms;
}
.extra1:nth-child(4)::before, .extra1:nth-child(4)::after {
  animation-delay: 203ms;
}
.extra1:nth-child(5) {
  top: calc(50% - -71px);
  left: calc(50% - 78px);
  animation-delay: 9962ms;
}
.extra1:nth-child(5)::before, .extra1:nth-child(5)::after {
  animation-delay: 9962ms;
}
.extra1:nth-child(6) {
  top: calc(50% - 103px);
  left: calc(50% - 1px);
  animation-delay: 8133ms;
}
.extra1:nth-child(6)::before, .extra1:nth-child(6)::after {
  animation-delay: 8133ms;
}
.extra1:nth-child(7) {
  top: calc(50% - 1px);
  left: calc(50% - 152px);
  animation-delay: 1615ms;
}
.extra1:nth-child(7)::before, .extra1:nth-child(7)::after {
  animation-delay: 1615ms;
}
.extra1:nth-child(8) {
  top: calc(50% - -92px);
  left: calc(50% - 82px);
  animation-delay: 1724ms;
}
.extra1:nth-child(8)::before, .extra1:nth-child(8)::after {
  animation-delay: 1724ms;
}
.extra1:nth-child(9) {
  top: calc(50% - -119px);
  left: calc(50% - 36px);
  animation-delay: 7672ms;
}
.extra1:nth-child(9)::before, .extra1:nth-child(9)::after {
  animation-delay: 7672ms;
}
.extra1:nth-child(10) {
  top: calc(50% - 48px);
  left: calc(50% - 198px);
  animation-delay: 9995ms;
}
.extra1:nth-child(10)::before, .extra1:nth-child(10)::after {
  animation-delay: 9995ms;
}
.extra1:nth-child(11) {
  top: calc(50% - 171px);
  left: calc(50% - 200px);
  animation-delay: 7050ms;
}
.extra1:nth-child(11)::before, .extra1:nth-child(11)::after {
  animation-delay: 7050ms;
}
.extra1:nth-child(12) {
  top: calc(50% - 103px);
  left: calc(50% - 51px);
  animation-delay: 9322ms;
}
.extra1:nth-child(12)::before, .extra1:nth-child(12)::after {
  animation-delay: 9322ms;
}
.extra1:nth-child(13) {
  top: calc(50% - -33px);
  left: calc(50% - 14px);
  animation-delay: 7866ms;
}
.extra1:nth-child(13)::before, .extra1:nth-child(13)::after {
  animation-delay: 7866ms;
}
.extra1:nth-child(14) {
  top: calc(50% - -116px);
  left: calc(50% - 106px);
  animation-delay: 434ms;
}
.extra1:nth-child(14)::before, .extra1:nth-child(14)::after {
  animation-delay: 434ms;
}
.extra1:nth-child(15) {
  top: calc(50% - 174px);
  left: calc(50% - 205px);
  animation-delay: 7510ms;
}
.extra1:nth-child(15)::before, .extra1:nth-child(15)::after {
  animation-delay: 7510ms;
}
.extra1:nth-child(16) {
  top: calc(50% - 191px);
  left: calc(50% - 168px);
  animation-delay: 1015ms;
}
.extra1:nth-child(16)::before, .extra1:nth-child(16)::after {
  animation-delay: 1015ms;
}
.extra1:nth-child(17) {
  top: calc(50% - 106px);
  left: calc(50% - 232px);
  animation-delay: 9692ms;
}
.extra1:nth-child(17)::before, .extra1:nth-child(17)::after {
  animation-delay: 9692ms;
}
.extra1:nth-child(18) {
  top: calc(50% - -173px);
  left: calc(50% - 27px);
  animation-delay: 499ms;
}
.extra1:nth-child(18)::before, .extra1:nth-child(18)::after {
  animation-delay: 499ms;
}
.extra1:nth-child(19) {
  top: calc(50% - -156px);
  left: calc(50% - 143px);
  animation-delay: 1975ms;
}
.extra1:nth-child(19)::before, .extra1:nth-child(19)::after {
  animation-delay: 1975ms;
}
.extra1:nth-child(20) {
  top: calc(50% - -170px);
  left: calc(50% - 279px);
  animation-delay: 9926ms;
}
.extra1:nth-child(20)::before, .extra1:nth-child(20)::after {
  animation-delay: 9926ms;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(300px);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 1.6rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right bottom, rgba(180, 130, 172, 0.6), rgba(165, 0, 1, 0.5)), url(../images/bg-planet-2.jpg);
  background-size: 100%;
  background-attachment: fixed;
  padding: 22rem 15% 0 15%;
  position: relative;
  z-index: 4;
}

.wrapper {
  margin: 8rem 10rem 0 0;
  text-align: left;
}

.sidebar {
  background-image: url(../images/desert-planet.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 45rem;
  height: 45rem;
  text-align: center;
  position: fixed;
  z-index: 3;
  top: 40%;
  left: 70%;
  list-style-type: none;
}
.sidebar .wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 8rem 10rem;
  text-align: left;
}
.sidebar .wrapper .zen-resources {
  position: fixed;
  top: 25%;
  left: 14%;
}
.sidebar h3 {
  font-size: 2.5rem;
}
.sidebar ul {
  list-style: none;
  color: #f3f1f4;
  font-size: 1.6rem;
}
.sidebar a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
