@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Orbitron&display=swap");
/*
$dark-color: black;
$mid-color: lighten($dark-color, 20);
$light-color: lighten($mid-color, 20);
$accent-color2: saturate($mid-color, 20);
$highlight-color: lighten(saturate($mid-color, 20), 20);
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000000;
  color: #000000;
  font-family: "Orbitron", sans-serif;
}

p {
  letter-spacing: 0.2rem;
}

h1 {
  color: #f3f1f4;
  font-size: 6rem;
  letter-spacing: 2rem;
  font-family: "Kdam Thmor Pro", sans-serif;
}

h2 {
  color: #f3f1f4;
  font-size: 2rem;
  letter-spacing: 2.03rem;
  font-family: "Kdam Thmor Pro", sans-serif;
}

a {
  text-decoration: none;
  color: #B70201;
  font-weight: bold;
}

.extra2 {
  content: "X";
  width: 30%;
  background-image: url(./images/shuttle.png);
  height: 95%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 103%;
  left: 35%;
  background-position: center center;
  z-index: 10;
}
@media only screen and (max-width: 1200px) {
  .extra2 {
    top: 95%;
  }
}
@media only screen and (max-width: 900px) {
  .extra2 {
    top: 105%;
    height: 50%;
  }
}
@media only screen and (max-width: 550px) {
  .extra2 {
    top: 110%;
    height: 25%;
  }
}

.extra3 {
  background-image: radial-gradient(ellipse at center, rgba(180, 130, 172, 0.3) 0%, rgba(165, 0, 1, 0.3) 70%, rgba(0, 128, 172, 0) 70.3%), url(./images/blue-planet.png);
  background-size: contain;
  position: fixed;
  width: 30rem;
  height: 30rem;
  top: 15%;
  left: 10%;
  z-index: 2;
}
@media only screen and (max-width: 900px) {
  .extra3 {
    top: 2%;
  }
}
@media only screen and (max-width: 550px) {
  .extra3 {
    top: -9%;
    left: -20%;
    transform: scale(0.75);
  }
}

header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(18, 93, 169, 0.7), rgba(77, 28, 113, 0.7)), url(./images/bg-space-1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 84%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 51% 84%, 0 100%);
  background-attachment: fixed;
  text-transform: uppercase;
  padding-top: 30rem;
  text-align: center;
  z-index: 4;
}
header h1 {
  animation: growbig 2s ease-in;
}
@media only screen and (max-width: 550px) {
  header h1 {
    font-size: 3rem;
    animation: growsmall 2s ease-in;
  }
}
header h2 {
  animation: growsmall 2s ease-in;
}
@media only screen and (max-width: 550px) {
  header h2 {
    font-size: 2rem;
  }
}

.summary {
  font-size: 1.6rem;
  background-image: url(./images/bg-space-plain.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  margin-top: -20rem;
  z-index: 1;
}
.summary p:not(:last-child) {
  background-image: url(./images/brown-moon.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  padding: 10rem 5rem 10rem 5rem;
  top: 10%;
  left: 68%;
  width: 25rem;
  height: 25rem;
  text-align: center;
  transition: all 0.3s;
}
@media only screen and (max-width: 1200px) {
  .summary p:not(:last-child) {
    left: 50%;
  }
}
@media only screen and (max-width: 900px) {
  .summary p:not(:last-child) {
    top: 28%;
    left: 5%;
  }
}
@media only screen and (max-width: 550px) {
  .summary p:not(:last-child) {
    top: 15%;
    left: 3%;
  }
}
.summary p:not(:last-child):not(:hover) {
  transform: scale(0.25);
}
.summary p:not(:last-child):hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 550px) {
  .summary p:not(:last-child):hover {
    transform: translateY(5rem);
  }
}
.summary p:last-child {
  color: #f3f1f4;
  position: absolute;
  top: 87%;
  left: 43%;
}
@media only screen and (max-width: 1200px) {
  .summary p:last-child {
    top: 59%;
    left: 39%;
  }
}
@media only screen and (max-width: 900px) {
  .summary p:last-child {
    top: 35%;
    left: 31%;
  }
}
@media only screen and (max-width: 550px) {
  .summary p:last-child {
    top: 22%;
    left: 13%;
  }
}
@media only screen and (max-width: 1200px) {
  .summary {
    padding-bottom: 30rem;
  }
}
@media only screen and (max-width: 1200px) {
  .summary {
    padding-bottom: 40rem;
  }
}

.requirements {
  grid-column: 1/span 3;
}

.preamble,
.explanation,
.participation,
.benefits,
.requirements,
footer {
  border-radius: 0.8rem;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.preamble h3,
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3,
footer h3 {
  padding: 0.4rem;
  font-size: 3rem;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(77, 28, 113, 0.85), rgba(18, 93, 169, 0.85));
}
.preamble p,
.explanation p,
.participation p,
.benefits p,
.requirements p,
footer p {
  font-size: 1.6rem;
  color: #000000;
  text-align: justify;
}
.preamble p:not(:last-child),
.explanation p:not(:last-child),
.participation p:not(:last-child),
.benefits p:not(:last-child),
.requirements p:not(:last-child),
footer p:not(:last-child) {
  margin-bottom: 0.7rem;
}

.preamble {
  margin: 0 15% 50px 15%;
  position: absolute;
  border-radius: 0 0 0.8rem 0.8rem;
  z-index: 5;
}

footer {
  grid-column: 1/span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  border-radius: 0.8rem 0.8rem 0 0;
  margin-top: 5rem;
}
footer a {
  font-size: 2.2rem;
  font-weight: 700;
  color: #B70201;
}
footer a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 900px) {
  footer a {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .benefits {
    grid-column: 1/span 3;
  }
}

@media only screen and (max-width: 900px) {
  .explanation,
.participation,
.benefits,
.requirements {
    grid-column: 1;
  }
}

@keyframes growbig {
  0% {
    font-size: 10%;
  }
  10% {
    font-size: 100%;
  }
}
@keyframes growsmall {
  0% {
    opacity: 0.01;
  }
}
.design-selection {
  margin: 0 auto;
}

.extra1 {
  position: absolute;
  z-index: 125;
  height: 2px;
  background: linear-gradient(-45deg, rgb(175, 200, 250), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(175, 200, 250));
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.extra1::before {
  content: "";
  position: absolute;
  top: calc(5% - 1px);
  right: 0;
  width: 30px;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(175, 200, 250), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.extra1::after {
  content: "";
  position: absolute;
  top: calc(5% - 1px);
  right: 0;
  width: 30px;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(175, 200, 250), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.extra1:nth-child(1) {
  left: 35%;
  top: 40%;
  animation-delay: 425ms;
}
@media only screen and (max-width: 900px) {
  .extra1:nth-child(1) {
    left: 25%;
  }
}
@media only screen and (max-width: 550px) {
  .extra1:nth-child(1) {
    left: 20%;
  }
}
.extra1:nth-child(1)::before, .extra1:nth-child(1)::after {
  animation-delay: 425ms;
}
.extra1:nth-child(2) {
  left: 35%;
  top: 40%;
  animation-delay: 1077ms;
}
@media only screen and (max-width: 900px) {
  .extra1:nth-child(2) {
    left: 25%;
  }
}
@media only screen and (max-width: 550px) {
  .extra1:nth-child(2) {
    left: 20%;
  }
}
.extra1:nth-child(2)::before, .extra1:nth-child(2)::after {
  animation-delay: 1077ms;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
.wrapper {
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 128, 172, 0) 70.3%), url(./images/desert-planet.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 45rem;
  height: 45rem;
  position: fixed;
  z-index: 3;
  top: 40%;
  left: 70%;
  list-style-type: none;
  text-align: left;
  padding: 13rem 0 0 13rem;
}
.wrapper .zen-resources {
  position: fixed;
  top: 24%;
  left: 12.5%;
}
.wrapper .zen-resources h3 {
  color: yellow;
}
@media only screen and (max-width: 1200px) {
  .wrapper .zen-resources {
    top: 23%;
    left: 15%;
  }
}
@media only screen and (max-width: 900px) {
  .wrapper .zen-resources {
    top: 10%;
    left: 16%;
  }
}
@media only screen and (max-width: 550px) {
  .wrapper .zen-resources {
    top: 0%;
    left: 0%;
    width: 15rem;
  }
}
.wrapper h3 {
  font-size: 2.5rem;
}
.wrapper ul {
  list-style: none;
  color: #f3f1f4;
  font-size: 1.6rem;
}
.wrapper a {
  color: white;
}
.wrapper a:hover {
  color: #B70201;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    left: 55%;
  }
}
@media only screen and (max-width: 900px) {
  .wrapper {
    top: 50%;
    left: 30%;
  }
}
@media only screen and (max-width: 550px) {
  .wrapper {
    top: 60%;
    left: 0%;
    width: 15rem;
    height: 15rem;
    padding: 0;
  }
  .wrapper h3 {
    color: yellow;
  }
}

@media only screen and (max-width: 550px) {
  .design-selection {
    transform: scale(0.3);
    padding: 0;
    position: fixed;
    top: 50%;
    left: -15%;
    width: 25rem;
    transition: all 0.3s;
  }
  .design-selection:hover {
    transform: scale(0.9) translate(20%, -20%);
    z-index: 10;
    background-color: black;
  }
}

@media only screen and (max-width: 550px) {
  .design-archives {
    transform: scale(0.6);
    top: 80%;
    left: -5%;
    padding: 0;
    width: 25rem;
    transition: all 0.3s;
    background-color: black;
    position: fixed;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 1.6rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right bottom, rgba(180, 130, 172, 0.6), rgba(165, 0, 1, 0.5)), url(./images/bg-planet-2.jpg);
  background-size: 100%;
  background-attachment: fixed;
  padding: 27rem 15% 0 15%;
  position: relative;
  z-index: 4;
}
@media only screen and (max-width: 1200px) {
  .main {
    background-size: cover;
    background-position: bottom;
    position: relative;
    grid-template-columns: 1fr 1fr;
    padding-top: 31rem;
  }
}
@media only screen and (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    column-gap: 0;
    padding-top: 33rem;
  }
}
@media only screen and (max-width: 900px) {
  .main {
    padding-top: 45rem;
  }
}
@media only screen and (max-width: 550px) {
  .main {
    padding-top: 66rem;
  }
}

.summary {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
