@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Orbitron&display=swap");
/*
$dark-color: black;
$mid-color: lighten($dark-color, 20);
$light-color: lighten($mid-color, 20);
$accent-color2: saturate($mid-color, 20);
$highlight-color: lighten(saturate($mid-color, 20), 20);
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000000;
  color: #000000;
}

h1 {
  color: #f3f1f4;
  font-size: 6rem;
  letter-spacing: 2rem;
}

h2 {
  color: #f3f1f4;
  font-size: 2rem;
  letter-spacing: 2.03rem;
}
h2 abbr {
  --b: 0.1em;
  /* the thickness of the line */
  text-decoration: none;
  padding-block: var(--b);
  background: linear-gradient(#d7b22f 50%, #000000 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(#d7b22f 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}
h2 abbr:hover {
  --_p:100%;
  --_s: .3s;
  color: #d7b22f;
}

a {
  text-decoration: none;
  color: yellow;
}

.extra2 {
  background-image: url(..//images/shuttle.png);
  height: 95rem;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  left: 50%;
  background-position: center center;
}

header {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(18, 93, 169, 0.7), rgba(77, 28, 113, 0.7)), url(../images/bg-space-1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;
  text-transform: uppercase;
  padding-top: 30rem;
}
header h1 {
  animation: growbig 2s ease-in;
}
header h2 {
  animation: growsmall 2s ease-in;
}

.summary {
  color: #f3f1f4;
  font-size: 1.6rem;
  margin-bottom: 12rem;
  position: absolute;
  top: 120%;
  left: 75%;
  width: 40rem;
}

.requirements {
  grid-column: 1/5;
}

.preamble {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(215, 178, 47, 0.2)), url(../images/bg-space-plain.jpg);
  height: 100vh;
  background-size: contain;
  text-align: left;
  background-attachment: fixed;
  z-index: -1;
}
.preamble h3 {
  font-size: 4rem;
  color: #000000;
}
.preamble p {
  font-size: 1.6rem;
  color: #000000;
}
.preamble h3 {
  font-size: 3rem;
  text-align: left;
  padding: 4rem 5rem 0 2rem;
  text-transform: uppercase;
  color: #154388;
}
.preamble p {
  padding: 4rem 5rem 0 2rem;
  font-size: 1.8rem;
  color: #f3f1f4;
  margin-right: 60%;
}

.explanation,
.participation,
.benefits,
.requirements {
  border-radius: 0.8rem;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.15);
  padding: 1rem;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3 {
  padding: 0.4rem;
}
.explanation p:not(:last-child),
.participation p:not(:last-child),
.benefits p:not(:last-child),
.requirements p:not(:last-child) {
  margin-bottom: 0.7rem;
}

@keyframes growbig {
  0% {
    font-size: 10%;
  }
  10% {
    font-size: 100%;
  }
}
@keyframes growsmall {
  0% {
    opacity: 0.01;
  }
}
.intro {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 1.6rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right bottom, rgba(180, 130, 172, 0.6), rgba(165, 0, 1, 0.5)), url(../images/bg-planet-2.jpg);
  background-size: 100%;
  background-attachment: fixed;
  padding: 22rem 15% 5rem 15%;
}
.main h3 {
  font-size: 3.5rem;
  color: #000000;
}
.main p {
  font-size: 1.6rem;
  color: #000000;
}

.wrapper {
  background-color: #303038;
  -webkit-clip-path: polygon(35% 0, 65% 0, 75% 13%, 100% 13%, 100% 100%, 0 100%, 0 13%, 25% 13%);
  clip-path: polygon(26% 0, 74% 0, 80% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 20% 20%);
  padding: 0 30% 5rem 30%;
}

footer {
  grid-column: 1/span 6;
  height: 5rem;
  width: 100vh;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  background-color: #303038;
}

/*# sourceMappingURL=style.css.map */
